TS3_SERVER=YOUR_TEAMSPEAK_IP_OR_DOMAIN
TS3_PORT=9987
TS3_BOT_NAME=Railway Music Bot
TS3_SERVER_PASSWORD=
TS3_CHANNEL=
TS3_CHANNEL_PASSWORD=
TS3_IDENTITY_KEY=
TS3_IDENTITY_OFFSET=0
TS3_IDENTITY_LEVEL=-1
TS3_SEND_STATS=false
TS3_WEB_ENABLED=true
TS3_WEB_PORT=
